/* #0069d9 */
.input {
  display: flex;
  border: 1px solid black;
  align-items: center;
  cursor: pointer;
}

.input input {
  margin: 1em 0.5em;
}

.label {
  cursor: pointer;
}

.input input:checked:checked ~ .label {
  border-color: #0069d9;
  background: #0069d9;
}
